.App {
  background-color: #3a86ff;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.game-over {
  background-color: rgba(0, 0, 0, 0.8);
  /* color: #fff; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 5s linear;
}

@keyframes fadein {
  0% {
    background-color: rgba(0, 0, 0, 0);
    color: hsla(100, 100%, 100%, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
    color: hsla(100, 100%, 100%, 1);
  }
  /* from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    } */
}
