.App {
  background-color: #3a86ff;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.game-over {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in-out 5s linear;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.win-alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in 2s linear;
  background-color: rgba(110, 187, 38, 0.8);
  color: #fff;
  button {
    border: 2px solid #fff;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
  }
}

@media (max-width: 1000px) {
  .App {
    height: 100%;
  }
}
